@import './variables';
@import './typography';
@import './animations';

.crew {
  padding: 0 14rem 0 16.5rem;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.495, 0.165, 0, 0.95);
  height: 84%;

  &__content {
    height: 100%;
    display: grid;
    align-items: end;
    column-gap: 5rem;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }

  &__text-box {
    padding-top: 7.5rem;
    align-self: start;
    padding-bottom: 5rem;
  }

  &__heading {
    color: $color-text-primary;
    text-transform: uppercase;
    margin-bottom: 3rem;

    span {
      color: rgba($color-text-primary, 0.25);
      margin-right: 2.8rem;
      font-weight: 700;
    }
  }

  &__position-name {
    text-transform: uppercase;
    opacity: 0.5;
    margin-top: 12rem;
    margin-bottom: 1.5rem;
  }

  &__member-name {
    text-transform: uppercase;
    margin-bottom: 2.7rem;
  }

  &__member-photo {
    padding-top: 2.5rem;
    align-self: end;
    width: auto;
    height: 90%;
  }

  &__member-description {
    margin-bottom: 10rem;
  }

  &__dots-component {
    list-style: none;
    display: flex;
    column-gap: 2.4rem;
  }

  &__dot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba($color-text-primary, 0.17);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  &__dot:hover {
    background-color: rgba($color-text-primary, 0.6);
  }

  &__dot--active {
    background-color: rgba($color-text-primary, 1);
  }
}
