@import './variables';
@import './typography';
@import './animations';

.destination {
  padding: 7.5rem 16.5rem;
  @media only screen and (max-width: $bp-tablet) {
    padding: 7.5rem 4rem;
  }

  @media only screen and (max-width: $bp-phone) {
    padding-top: 3.5rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 8vw;
    padding-top: 6.4rem;

    @media only screen and (max-width: $bp-tablet) {
      flex-direction: column;
      row-gap: 8vw;
      align-items: center;
      padding: 6.4rem 5rem 0 5rem;
    }

    @media only screen and (max-width: $bp-phone) {
      padding: 0;
    }
  }

  &__heading {
    color: $color-text-primary;

    span {
      color: rgba($color-text-primary, 0.25);
      margin-right: 2.8rem;
      font-weight: 700;
    }
  }

  &__planet-img {
    padding-top: 3.3rem;
    align-self: center;
    max-width: 35vw;
    height: auto;
  }

  &__text-box {
    max-width: 44.4rem;
    @media only screen and (max-width: $bp-tablet) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__tabs {
    list-style: none;
    display: flex;
    column-gap: 3.5rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-tablet) {
      justify-content: center;
    }

    @media only screen and (max-width: $bp-phone) {
      column-gap: 0;
      justify-content: space-around;
    }
  }

  &__tab-btn {
    background: none;
    color: inherit;
    font-family: $font-tertiary;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    padding-bottom: 1.2rem;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.2s ease;

    &:not(.destination__tab-btn--active):hover {
      border-color: rgba($color-text-primary, 0.5);
    }

    @media only screen and (max-width: $bp-phone) {
      font-size: 1.4rem;
    }
  }

  &__tab-btn--active {
    border-color: rgba($color-text-primary, 1);
  }

  &__planet-description {
    margin-bottom: 8rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -6rem;
      left: 0;
      background-color: rgba($color-text-primary, 0.3);
    }
  }

  &__key-values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-phone) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }

  &__value-label {
    display: inline-block;
    margin-bottom: 1rem;
  }
}
