@import './variables';

.heading--primary {
  font-size: 15rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
}

.heading--secondary {
  font-size: 10rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
}

.heading--tertiary {
  font-size: 5.6rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
}

.heading--fourth {
  font-size: 3.2rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
}

.heading--fifth {
  font-size: 2.8rem;
  font-family: $font-tertiary;
  font-weight: 400;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}

.sub-heading--primary {
  font-size: 2.8rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
}

.sub-heading--secondary {
  font-size: 1.4rem;
  font-family: $font-tertiary;
  font-weight: 400;
  letter-spacing: 2.35;
  color: #d0d6f9;
  text-transform: uppercase;
}

.nav-text {
  font-size: 1.6rem;
  font-family: $font-tertiary;
  font-weight: 400;
  letter-spacing: 2.7px;
}

.body-text {
  font-size: 1.8rem;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 3.2rem;
  color: $color-text-secondary;
}
