$font-primary: 'Barlow';
$font-secondary: 'Bellefair';
$font-tertiary: 'Barlow Condensed';

$color-text-primary: #ffffff;
$color-text-secondary: #d0d6f9;

$bp-tablet: 68.75em; //1100px
$bp-phone: 37.5em; //600px
