@import 'styles/variables';
@import 'styles/typography';

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-tablet) {
    font-size: 57%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-secondary, sans-serif;
  font-size: 1.8rem;
  color: $color-text-primary;
  background-color: #0b0d17;
}

::selection {
  background-color: $color-text-secondary;
  color: #333;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: $color-text-primary;
  border-radius: 50%;
}
